@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'lato';
	src: url('../public/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'cascadiaMono';
	src: url('../public/fonts/CascadiaMono.ttf');
}

@font-face {
	font-family: 'cascadia';
	src: url('../public/fonts/Cascadia.ttf');
}